* {
    background-color: rgb(50, 121, 192);
    color: white;
    font-family: helvetica, sans-serif;
    
}

img {
    border-radius: 10px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

h1 {
    
    font-size: 48px;
    text-align: center;
}

a {
    font-size: 36px;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 36px;
}

h3, p {
    font-size: 24px;
}

li {
    font-size: 20px;
}