* {
    background-color: rgb(50, 121, 192);
    color: white;
    
}

img {
    align-content: center;
    border-radius: 10px;
}

h1 {
    
    font-size: 48px;
    text-align: center;
}

a {
    font-size: 36px;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

li {
    font-size: 20px;
}